
.dashboard{
    padding-top: 50px;
  }
  .port{
      padding-top: 90px;
      padding-bottom: 100px;
      border-radius: 10px;
      box-shadow: 2px 10px 4px rgb(231, 229, 227);
      margin: 30px 20px;
      height: 368px;
      width: 258px;
      cursor: pointer;
  
  
  
  }
  
  h3 p{
      text-align: center !important;
  
  }
  h3{
      font-size: 20px;
      font-weight: 600;
  }
  p{
   font-size: 14px;
  }

  .mversion-container{
      padding: 100px 20px 80px 20px;
  }
  
 